################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/JsonDataBase/obj
/JsonDataBase/bin/Debug/netcoreapp3.1
/JsonDataBase.Console
/.vs/JsonDataBase/v16
/.vs/JsonDataBase/DesignTimeBuild
/Neo.DataBase/bin/Debug
/Neo.DataBase/obj
/Neo.Exemplos/bin/Debug/netcoreapp3.1
/Neo.Exemplos/obj
